.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8rem;
    padding: 2rem 14rem 0;
}

.composition {
  position: relative;

  &__photo {
    position: absolute;
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    z-index: 0;
    transition: all .2s;
    outline-offset: 1.5rem;

    &--p1 {
      top: 9rem;
      left: 6rem;
    }
    &--p2 {
      top: 3rem;
      right: 0;
    }
    &--p3 {
      top: -2rem;
      left: 0;
    }
    &:hover{
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 1;
      outline: 1rem solid $color-primary;
    }
  }
  &:hover &__photo:not(:hover){
    transform: scale(.9);
  }
}
