.tours{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5rem;
    @include respond(tab-port){
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 5rem;
    }
}

.card {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 50rem;

    &-side {
        transition: all 1s ease;
        height: 50rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        border-radius: 5px;
        overflow: hidden;

        &-front {
            background-color: $color-white;
        }

        &-back {
            transform: rotateY(180deg);

            &--1 {
                background: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
            }

            &--2 {
                background: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
            }

            &--3 {
                background: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &-side-front {
        transform: rotateY(-180deg);
    }

    &:hover &-side-back {
        transform: rotateY(0);
    }

    &-picture {
        background-size: cover;
        height: 23rem;
        -webkit-background-blend-mode: screen;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &-1 {
            background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark), url("../img/nat-5.jpg");
        }

        &-2 {
            background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark), url("../img/nat-6.jpg");
        }

        &-3 {
            background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark), url("../img/nat-7.jpg");
        }
    }

    &-heading {
        font-size: 2.8rem;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 14rem;
        right: 2rem;
        text-align: right;
        font-weight: 300;
        width: 75%;
    }

    &-heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &-1 {
            background-image: linear-gradient(to bottom right, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
        }

        &-2 {
            background-image: linear-gradient(to bottom right, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
        }

        &-3 {
            background-image: linear-gradient(to bottom right, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
        }
    }

    &-details {
        color: $color-gray;
        padding: 3rem;
        margin-top: 2rem;
        @include respond(phone) {
    		margin-top: 0;
    	}

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                font-size: 1.5rem;
                text-align: center;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }

    &-cta {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 4rem;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &-price-box {
        color: white;
        margin-top: -10rem;
    }

    &-price-only {
        font-size: 1.5rem;
    }

    &-price-value {
        font-size: 6rem;
        font-weight: 400;
    }

    @include respond(tab-port) {

        height: auto;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &-side {
            height: auto;
            position: relative;
            box-shadow: none;
            border-radius: 5px;
            overflow: hidden;

            &-back {
                border-top-right-radius: 0;
                transform: rotateY(0);
                -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &-side-front {
            transform: rotateY(0);
        }

        &-cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            text-align: center;
            padding: 4rem;

            .btn-card{
                margin-top: 2rem;
            }
        }

        &-price-box {
            color: white;
            margin-top: -1rem;
        }

        &-price-only {
            font-size: 1.5rem;
        }

        &-price-value {
            font-size: 6rem;
            font-weight: 400;
        }
    }
}
